
/*Navbar*/
.navbar-brand{
    background: #4DABA5;
    color:#ffffff;
    margin-left: 10%;

}



 html { 
    height: 100%;
 }

body {
    min-height:100%; 
    position:relative; 
    padding-bottom:100px;
    background-image: url("../imgs/whirlpool.png");

}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #fff;
}

/*//////////this is the HEADER section///////////////*/
.name{
    width: 100%;
    height: 100px;
    background: rgb(238, 146, 162);
    color: white;
    text-align: left;
    padding: 25px;
    font-size: 50px;
    
}

li{
    margin: 0px 5%;
}



/*//////////this is the CONTACT FORM section///////////////*/

.contact{
    background:#FFFFFF;
    position: relative;
    height: 800px;
    text-align: center;
    margin: 30px auto;
    padding: 40px;
}

form{
margin: auto;
padding: 10px 20px;
box-sizing: border-box;
margin-top: 20px;
text-align: left;
border:#4DABA5 solid 1px;

}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact textarea{
width: 100%;
height: 50px;
border-radius: 3px;
margin-top: 10px;
margin-bottom: 20px;
padding: 7px;
box-sizing: border-box;
font-size: 17px;
border: none;
resize: vertical;
background: #F5F5F5; 
}

#contact input[type="text"]:focus, #contact input[type="tel"]:focus, #contact input[type="email"]:focus, #contact textarea:focus  {
border: 3px solid rgb(199, 194, 194);
}

textarea{
min-height: 100px;
max-height: 200px;
max-width: 100%;

}

#contact input[type="submit"]{
text-transform: uppercase;
font-size: 15px;
width: 30%;
background: #4DABA5;
color: #fff;
padding: 20px;
border: none;


}

#contact input[type="submit"]:hover{
cursor: pointer;
background: rgb(242, 249, 255);
border: #EE92A2 solid;
color: #EE92A2;
}

/*//////////this is the BIOGRAPHY section on the index page///////////////*/


.about{
    margin: auto;
    width: 60%;
    padding: 100px;
    height: 900px;
    background-color: #fff;
    

}

.leftSide{
    padding: 20px 30px;
    margin-top: 30px;
    border:white 1px solid;
    background: #fff;
    margin-bottom: 40px;
}


.rightSide{
    padding: 20px 30px;
    border: white 1px solid;
    height: 300px;
    margin: 30px 0px 0px 0px;
    background: #fff;

}


.lisPhoto{
    margin: auto;
    text-align: center;
    width: 50%;
    height: auto;
    clear: both;
    padding: 20px;
    border-radius: 10%;

}
.bio{
    clear: both;
    line-height: 20px;
    font-size: 16px;
}
.rightSide h3{
    color: gray;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}


.profiles{
    width: 33%;
    float: left;
    padding: 20px 10px;
    border-radius: 20%;

}
/*////////this is the PORTFOLIO section////*/

.gallery-container {
    margin-top: 30px;
    background: #ffffff;
}


.gallery-container p.page-description {
    text-align: center;
    margin: 30px auto;
    font-size: 18px;
    color: #85878c;
}

/* Styles for the gallery */

.tz-gallery {
    padding: 40px;
}

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    border: none;
}

.tz-gallery img {
    height: 25%;
    width: 100%;
    border-radius: 2px;
}

.tz-gallery .caption{
    padding: 26px 30px;
    text-align: center;
}

.tz-gallery .caption h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
}


.baguetteBox-button {
    background-color: transparent !important;
}

/* /// FOOTER section///// */
#footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 100px;
    background: #4DABA5;
  }
  
  .footer-block {
    margin: 20px auto;
    text-align: center;   
    color: #fff; 
  
  }  


  /*///////////////Queries//////////////*/
  @media (min-width: 991.98px) {
        
    .slicknav_menu {
        display:none;
        background: aliceblue;
    }

  }